/* Your stylesheet */

body {
    
    font-size: 16.5px;
    margin:0;
    font-family: sans-serif;
    background-color: #eee;
}


.navbar-light .navbar-brand{
    color:white;
}

.navbar {
    padding: 0;
    background-color: white;
    width: 100%;

}

.navbar-brand {
    background-color : rgb(37, 141, 141);
    padding: 10px;
    margin-left: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bolder;
}
.navbar-collapse {
    
    position: absolute;
    right: 4%;
    font-size: small;

}

.nav-item {
    font-weight: bolder;
}


.row {
 padding: .5em;
 width: 90%;
 margin: 35px auto;
 
}

.buttons {
    margin-bottom: .5em;
}

.text-left {

    text-align: left;
    color: rgb(37, 141, 141);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.text-center {
    color: rgb(37, 141, 141);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;

}

p:not(.intro){

    text-align: justify;
    color: rgb(14, 13, 13);

}


.main-image {

    margin-right: auto;
    margin-left: auto;
    width: 48%;
    float: left;
}

.thumbnail {
    
    margin: 21px auto;
    width: 47%;
}

.col-md-8{
    background-color: white;
}

.col-sm-12, .col-md-4{
    margin: 22px auto;
    background-color: white;
}

div.col-sm-12.col-md-12 div.col-lg-6.col-sm-12 img{
    width: 90%;
}

.row {
   
    background-color: white;
}

div.row div.col-lg-6.col-sm-12 img{
    width: 100%;
}

div.col-sm-12.col-md-12 p{
    font-size: medium;
    color:black;
}

@media(max-width:480px){
    .col-md-8{
        display:block;
    }
}
